//ABSTRACT
@import './abstract/mixins';
@import './abstract/variables';

//COMPONENTS
@import './components/form';
@import './components/button1';
@import './components/project';
@import './components/map';


//LAYOUT
@import './layout/header';
@import './layout/navigator';

//PAGES
@import './pages/home';
@import './pages/portfolio';
@import './pages/contact';


html, #root{
    height: auto;
}

body{
    @include color($white-color, $main-color);
    @include margin(0px, 0px, 0px, 0px);
    background-image: url('../assets/Background2.png');
    height: 100%
}

.app{
    font-family: 'Saira', sans-serif;
    height: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 100px;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}