//ABSTRACT
@import './abstract/mixins';
@import './abstract/variables';

//COMPONENTS
@import './components/form';
@import './components/button1';
@import './components/project';
@import './components/map';


//LAYOUT
@import './layout/header';
@import './layout/navigator';

//PAGES
@import './pages/home';
@import './pages/portfolio';
@import './pages/contact';


body{
    @include color($white-color, $main-color);
    @include margin(0px, 0px, 0px, 0px);
    font-family: "Open sans";
    background-image: url('../assets/Background2.png');
}

.app{
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 100px;
}