//ABSTRACT
@import './abstract/mixins';
@import './abstract/variables';

//COMPONENTS
@import './components/form';
@import './components/button1';
@import './components/project';
@import './components/map';
@import './components/titlesection';


//LAYOUT
@import './layout/header';
@import './layout/navigator';

//PAGES
@import './pages/home';
@import './pages/portfolio';
@import './pages/contact';


html, #root{
    height: auto;
}

body{
    @include margin(0px, 0px, 0px, 0px);
    height: 100%;
    background-image: url('../assets/Background2.png');
    background-repeat: repeat-x;
    background-size: cover;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $main-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-color;
        border-radius: 20px;
        border: 3px solid $main-color;
      }
}

.app{
    font-family: 'Saira', sans-serif;
    height: auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr
}

@media screen and(max-width: 400px){
    .app{
        grid-template-columns: 70px 1fr;
    }
}

@keyframes blinker {
    50% { opacity: 0.0; }
}