.home-container{

    article{
        section.home-section{
            @include display(flex, row, space-evenly, center);

            div.text{
                @include dimension(400px, auto);
                @include color($black-color, $transparent-color);
                @include display(flex, column, center, start);
                
                h2{
                    @include color($blue-color, $transparent-color);
                    @include margin(10px, 10px, 0px, 0px);
                    display: none;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 50px;

                    &:hover, &:focus {
                        transition-duration: .5s;
                        box-shadow: inset 10em 0 0 0 $blue-color;
                        @include color($main-color, $transparent-color);
                    }
                }

                p{
                    @include color($white-color, $transparent-color);
                    display: none;
                }

                a{
                    text-decoration: none;
                    @include display(none, row, center, center)
                }
            }
            
            img.meta-image{
                @include dimension(400px, auto);
                display: none;
            }
        }

        section.technologies{
            @include display(flex, column, space-evenly, center);
            @include margin(50px, 100px, 0px, 0px);
            
            h2{
                @include color($blue-color, $transparent-color);
                @include margin(0px, 20px, 0px, 0px);
                display: none;
                font-size: 50px;
                font-weight: 800;

                    &:hover, &:focus {
                      box-shadow: inset 10em 0 0 0 $blue-color;
                      @include color($main-color, $transparent-color);
                      transition-duration: .5s;
                    }
            }
            
            div.tag-container{
                @include dimension(800px, auto);
                @include padding(20px, 20px, 0px, 0px);
                @include display(none, column, center, center);
                text-align: center;
            }
        }

        section.info{
            @include display(flex, row, space-evenly, center);

            div.text{
                @include dimension(400px, auto);
                @include color($black-color, $transparent-color);
                @include display(flex, column, center, start);
                
                h2{
                    @include color($blue-color, $transparent-color);
                    @include margin(10px, 10px, 0px, 0px);
                    display: none;
                    font-size: 50px;
                    font-weight: 800;
                    line-height: 50px;
                    transition-duration: .5s;

                    &:hover, &:focus {
                      box-shadow: inset 10em 0 0 0 $blue-color;
                      @include color($main-color, $transparent-color);
                    }
                }

                p{
                    @include color($white-color, $transparent-color);
                    display: none;
                }
            }
        }
    }
}

@media screen and(max-width: 910px) {
    .home-container{
        article{
            section.home-section{
                div.text{
                    @include dimension(300px, auto);
                    
                    h2{
                        font-size: 36px;
                        line-height: 36px;
                    }
                }

                img.meta-image{
                    @include dimension(300px, auto);
                }
            }

            section.technologies{
                @include margin(50px, 20px, 0px, 0px);
                h2{
                    font-size: 36px;
                }
                
                div{
                    ul{
                        font-size: 18px;
                    }
                }

                div.tag-container{
                    @include dimension(500px, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                div.text{
                    @include dimension(300px, auto);
                    
                    h2{
                        font-size: 36px;
                        line-height: 36px
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 710px) {
    .home-container{
        article{
            section.home-section{
                @include display (flex, column, space-evenly, center);
                
                div.text{
                    @include dimension(400px, auto);
                    
                    h2{
                        font-size: 50px;
                        line-height: 50px
                    }
                }

                img.meta-image{
                    @include dimension(400px, auto);
                }
            }

            section.technologies{
                h2{
                    font-size: 50px;
                }

                div.tag-container{
                    @include dimension(400px, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                @include display (flex, column, space-evenly, center);
                
                div.text{
                    @include dimension(400px, auto);
                    
                    h2{
                        font-size: 50px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 520px) {
    .home-container{
    @include display(flex, column, center, center);

        article{
            section.home-section{
                @include dimension(270px, auto);

                div.text{
                    @include dimension(80%, auto);
                    @include display(flex, column, space-evenly, center);
                    
                    h2{
                        text-align: center;
                        font-size: 36px;
                        line-height: 36px;
                    }

                    p{
                        text-align: center
                    }
                }

                img.meta-image{
                    @include dimension(80%, auto);
                }
            }

            section.technologies{
                @include dimension(270px, auto);
                @include display(flex, column, space-evenly, center);
                
                h2{
                    font-size: 36px;
                }
                
                div.tag-container{
                    @include dimension(100%, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                @include display(flex, column, space-evenly, center);
                @include dimension(270px, auto);

                div.text{
                    @include dimension(250px, auto);
                    @include display(flex, column, space-evenly, center);
                    
                    h2{
                        text-align: center;
                        font-size: 36px;
                        line-height: 36px;
                    }

                    p{
                        text-align: center
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 360px) {
    .home-container{
        article{
            section.home-section{
                @include dimension(250px, auto);

                div.text{
                    @include dimension(250px, auto);
                    
                    h2{
                        font-size: 26px;
                        line-height: 26px;
                    }

                    p{
                        font-size: 12px;
                    }
                }

                img.meta-image{
                    @include dimension(250px, auto);
                }
            }

            section.technologies{
                @include display(flex, column, space-evenly, center);
                @include dimension(250px, auto);

                h2{
                    font-size: 26px;
                    line-height: 26px;
                }
            }

            section.info{
                @include dimension(250px, auto);

                div.text{
                    @include dimension(250px, auto);
                    
                    h2{
                        font-size: 26px;
                        line-height: 26px;
                        
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}