.home-container{

    
    article{
        section.home-section{
            @include display(flex, row, space-evenly, center);

            div.text{
                @include dimension(400px, auto);
                @include color($black-color, $transparent-color);
                @include display(flex, column, center, start);

                .presentation{
                    @include margin(20px, 0, 0, 0);
                    @include color($pink-color, $transparent-color);
                    font-size: 18px;
                }

                p{
                    @include color($gray-color, $transparent-color);
                    display: none;
                }

                a{
                    text-decoration: none;
                    @include display(none, row, center, center)
                }
            }
            
            img.meta-image{
                @include dimension(400px, auto);
                display: none;
            }
        }

        section.technologies{
            @include display(flex, column, space-evenly, center);
            @include margin(50px, 100px, 0px, 0px);
            
            div.tag-container{
                @include dimension(800px, auto);
                @include padding(20px, 20px, 0px, 0px);
                @include display(none, column, center, center);
                text-align: center;
            }
        }

        section.info{
            @include display(flex, row, space-evenly, center);

            div.text{
                @include dimension(400px, auto);
                @include color($black-color, $transparent-color);
                @include display(flex, column, center, start);

                p{
                    @include color($gray-color, $transparent-color);
                    display: none;
                }
            }

            a{
                div.demo {
                    @include dimension(250px, 250px);
                    @include display(none, row, center, center);
                    box-shadow: 16px 14px 20px #0000008c;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
    
                    &::before{
                        @include dimension(150%, 150%);
                        content: "";
                        background-image: conic-gradient(
                            $pink-color 20deg,
                            transparent 120deg
                        );
                        position: absolute;
                        animation: rotate 2s linear infinite;
                    }
    
                    &::after{
                        @include dimension(240px, 240px);
                        @include display(flex, row, center, center);
                        content: "Contato";
                        background: #101010;
                        position: absolute;
                        border-radius: 10px;
                        color: $pink-color;
                        font-size: larger;
                        letter-spacing: 5px;
                        box-shadow: inset 20px 20px 20px #0000008c;
                    }
                }  
            }
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@media screen and(max-width: 910px) {
    .home-container{
        article{
            section.home-section{
                div.text{
                    @include dimension(300px, auto);
                }

                img.meta-image{
                    @include dimension(300px, auto);
                }
            }

            section.technologies{
                @include margin(50px, 20px, 0px, 0px);
                
                div{
                    ul{
                        font-size: 18px;
                    }
                }

                div.tag-container{
                    @include dimension(500px, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                div.text{
                    @include dimension(300px, auto);
                }
            }
        }
    }
}

@media screen and(max-width: 710px) {
    .home-container{
        article{
            section.home-section{
                @include display (flex, column, space-evenly, center);
                
                div.text{
                    @include dimension(400px, auto);
                }

                img.meta-image{
                    @include dimension(400px, auto);
                }
            }

            section.technologies{
                div.tag-container{
                    @include dimension(400px, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                @include display (flex, column, space-evenly, center);
                
                div.text{
                    @include dimension(400px, auto);
                }
            }
        }
    }
}

@media screen and(max-width: 520px) {
    .home-container{
        @include display(flex, column, center, center);

        article{
            section.home-section{
                @include dimension(270px, auto);

                div.text{
                    @include dimension(80%, auto);
                    @include display(flex, column, space-evenly, center);

                    p{
                        text-align: center
                    }
                }

                img.meta-image{
                    @include dimension(80%, auto);
                }
            }

            section.technologies{
                @include dimension(270px, auto);
                @include display(flex, column, space-evenly, center);
                
                div.tag-container{
                    @include dimension(100%, auto);
                    @include padding(20px, 20px, 0px, 0px);
                    text-align: center;
                }
            }

            section.info{
                @include display(flex, column, space-evenly, center);
                @include dimension(270px, auto);

                div.text{
                    @include dimension(250px, auto);
                    @include display(flex, column, space-evenly, center);

                    p{
                        text-align: center
                    }
                }
                
                a{
                    div.demo {
                        @include dimension(160px, 160px);
        
                        &::after{
                            @include dimension(150px, 150px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 360px) {
    .home-container{
        article{
            section.home-section{
                @include dimension(250px, auto);

                div.text{
                    @include dimension(250px, auto);

                    .presentation{
                        font-size: 14px;
                    }
                    
                    p{
                        font-size: 12px;
                    }
                }

                img.meta-image{
                    @include dimension(250px, auto);
                }
            }

            section.technologies{
                @include display(flex, column, space-evenly, center);
                @include dimension(250px, auto);
            }

            section.info{
                @include dimension(250px, auto);

                div.text{
                    @include dimension(250px, auto);

                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}