.projects-container{
    article{
        @include display(flex, column, space-evenly, center);

        h2{
            @include color($blue-color, $transparent-color);
            @include margin(20px, 20px, 0px, 0px);
            font-size: 50px;
            font-weight: 800;
            animation: titleMove;
            animation-duration: 2s
        }

        .projects-page{
            @include dimension(100%, auto);
            @include display(flex, row, space-evenly, center);
            flex-wrap: wrap;
        }
    }
}

@keyframes titleMove {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}

@media screen and(max-width: 400px){
    .projects-container{
        article{
            h2{
                font-size: 36px;
            }
        }
    }
}