.projects-container{
    article{
        @include display(flex, column, space-evenly, center);

        .projects-page{
            @include dimension(100%, auto);
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }
}

@media screen and(max-width: 400px){
    .projects-container{
        article{
            .projects-page{
                @include dimension(100%, auto);
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            }
        }
        
    }

    
}