//COLORS
$main-color: #1C252E;
$secondary-color: #0E141B;
$third-color: #1E262F;
$white-color: white;
$black-color: black;
$blue-color: #08FDD8;
$pink-color: #FF0A78;
$gray-color: gray;
$transparent-color: transparent;
