.button-component{
  @include dimension(150px, 40px);
  @include padding(0px, 0px, 0px, 0px);
  @include color($pink-color, $transparent-color);
  @include display(flex, row, center, center);
  border: 1px solid $pink-color;
  font-weight: 700;
  transition: 0.25s;

  &:hover, &:focus {
    box-shadow: inset 150px 0 0 0 $pink-color;
    @include color($main-color, $transparent-color);
  }
}

@keyframes buttonMove{
  from {
     margin-left: 100%;
  }
  
  to {
    margin-left: 0%;
  }
}