.card{
    @include dimension(288px, auto);
    @include margin(20px, 20px, 0px, 0px);
    @include color($white-color, $transparent-color !important);
    animation: moveCard;
    animation-duration: 2s;
    border-radius:15px;
    backdrop-filter:blur(5px) ;
    background:rgba(255,255, 255, 0.1);
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    overflow: hidden;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);

    .card-body{
        @include color($white-color, $transparent-color);
        @include dimension(100%, auto);
        
        div{
            @include color($white-color, $transparent-color);
        }

        p{
            @include color($gray-color, $transparent-color);
            @include dimension(auto, 80px);
        }

        div.tecnologias{
            @include dimension(auto, 60px);

            input{
                @include color($black-color, $gray-color);
                @include margin(1px, 1px, 1px, 1px);
                border: 1px solid $transparent-color;
                border-radius: 2px 2px 2px 2px;
                cursor: default;

                &:hover{
                    @include color($black-color, $white-color);
                }
            }
        }

        #container-button{
            @include display(flex, row, space-between, center);
            
            a{
                text-decoration: none;
            }
        }
    }
}

@keyframes moveCard {
    from{
        margin-top: 100%
    }
    to{
        margin-top: 20px;
    }
}

@media screen and(max-width: 400px){
    .card{
        @include dimension(208px, auto);
    
        .card-body{
            @include color($white-color, $transparent-color);

            p{
                font-size: 12px;
            }

            div.tecnologias{
                @include dimension(auto, auto);

                input{
                    font-size: 12px;
                }
            }
        }
    }
}